# Compiled source files
*.exe
*.out
*.obj
*.o
*.so
*.dll
*.lib
*.a

# Debug and release directories
/debug/
Debug/
release/
Release/
build/
Build/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj*
*.ncb
*.sdf
*.opensdf

# Code::Blocks
*.layout
*.depend

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Backup files
*~
*.swp
*.bak
